In [1]:
import pandas as pd, os
pd.options.display.max_columns=None

In [2]:
# change directory to main project path
os.chdir('../')
current_dir = os.path.join(os.getcwd(), 'datasets')
dataset_path = os.path.join(current_dir, 'survey_data.csv')

In [3]:
df = pd.read_csv(dataset_path)
df.head()

,Timestamp,Name,Age group,Gender,Email,Where are you from?,Marital status,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?,Interested area of work,Currently employed,Did you have a career break?,Did you switch your career?,Reason for shift in career?,Are you actively applying for job?,Skills that you are confident,Job preference,Have you carried out any independent works or projects?,Where do you search for Job?,Are you receiving response from recruiter after applying?,Are you interested in Freelancing?,Dream company type?,Preference of work,What are the problems faced while job search?
0,2023/01/11 10:15:18 AM GMT+5:30,Afsal,25-30,Other,afsalurkp@gmail.com,Tirur,Other,Fresher,Btech,Yes,No,Digital Marketing,Yes,Yes,Yes,Not applicabe,Yes,Excel;,Business,Yes,Naukri;Linkedin;Indeed;Monster;,Yes,Yes,Startup,Hybrid,Lack of experience
1,2023/01/11 10:15:40 AM GMT+5:30,Vishnu vinod,<25,Male,NaN,Kannur,Single,1-2years,Diploma,No,Maybe,Digital Marketing,Yes,Yes,Yes,Better job opportunity,Yes,Other,Business,Yes,Linkedin,Yes,Yes,Startup,Onsite,Lack of experience
2,2023/01/11 10:18:20 AM GMT+5:30,Vishal T S,<25,Male,tsvishal0@gmail.com,"Siddapur, Kodagu, Karnataka",Single,1-2years,Btech,No,Yes,Data science/ Data Analytics,Yes,No,Yes,Better job opportunity,Casually,Excel;Python;Sql;Other,Private,No,Linkedin;,No,No,Product based,Work from home,No response from recruiter
3,2023/01/11 10:19:19 AM GMT+5:30,mohammad aslam,<25,Male,aslamvelupadam03@gmail.com,Thrissur,Single,1-2years,diploma,No,Maybe,Front end development,Yes,No,No,Not applicabe,No,front-end development,Private,No,Naukri;Linkedin;Indeed,Yes,Yes,MNC,Onsite,Lack of experience
4,2023/01/11 10:26:10 AM GMT+5:30,Ammu,<25,Female,Ammu@gmail.com,Malappuram,Single,Fresher,MSW,Yes,Yes,Digital Marketing,Yes,No,Yes,Better job opportunity,Casually,Excel,Government;Business,No,Indeed,Yes,Yes,MNC,Onsite,Lack of experience

In [4]:
df.shape

(95, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 26 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Timestamp                                                  95 non-null     object
 1   Name                                                       95 non-null     object
 2   Age group                                                  95 non-null     object
 3   Gender                                                     95 non-null     object
 4   Email                                                      77 non-null     object
 5   Where are you from?                                        95 non-null     object
 6   Marital status                                             95 non-null     object
 7   Work experience                                            95 non-null     object
 8   Educational Qualification                                  95 non-null     object
 9   Are you still studying?                                    95 non-null     object
 10  Do you believe degree is a must for job?                   94 non-null     object
 11  Interested area of work                                    95 non-null     object
 12  Currently employed                                         95 non-null     object
 13  Did you have a career break?                               95 non-null     object
 14  Did you switch your career?                                95 non-null     object
 15  Reason for shift in career?                                95 non-null     object
 16  Are you actively applying for job?                         95 non-null     object
 17  Skills that you are confident                              95 non-null     object
 18  Job preference                                             95 non-null     object
 19  Have you carried out any independent works or projects?    95 non-null     object
 20  Where do you search for Job?                               95 non-null     object
 21  Are you receiving response from recruiter after applying?  95 non-null     object
 22  Are you interested in Freelancing?                         95 non-null     object
 23  Dream company type?                                        94 non-null     object
 24  Preference of work                                         95 non-null     object
 25  What are the problems faced while job search?              93 non-null     object
dtypes: object(26)
memory usage: 19.4+ KB

In [6]:
col_names = df.columns.to_list()
col_names

['Timestamp',
 'Name',
 'Age group',
 'Gender',
 'Email',
 'Where are you from?',
 'Marital status',
 'Work experience',
 'Educational Qualification ',
 'Are you still studying?',
 'Do you believe degree is a must for job?',
 'Interested area of work',
 'Currently employed',
 'Did you have a career break?',
 'Did you switch your career?',
 'Reason for shift in career?',
 'Are you actively applying for job?',
 'Skills that you are confident ',
 'Job preference ',
 'Have you carried out any independent works or projects?',
 'Where do you search for Job?',
 'Are you receiving response from recruiter after applying?',
 'Are you interested in Freelancing?',
 'Dream company type?',
 'Preference of work ',
 'What are the problems faced while job search?']

In [7]:
#stripping leading and trailing whitespaces in the column names
new_col_names = list(map(lambda col:col.strip(),col_names))
new_col_names

['Timestamp',
 'Name',
 'Age group',
 'Gender',
 'Email',
 'Where are you from?',
 'Marital status',
 'Work experience',
 'Educational Qualification',
 'Are you still studying?',
 'Do you believe degree is a must for job?',
 'Interested area of work',
 'Currently employed',
 'Did you have a career break?',
 'Did you switch your career?',
 'Reason for shift in career?',
 'Are you actively applying for job?',
 'Skills that you are confident',
 'Job preference',
 'Have you carried out any independent works or projects?',
 'Where do you search for Job?',
 'Are you receiving response from recruiter after applying?',
 'Are you interested in Freelancing?',
 'Dream company type?',
 'Preference of work',
 'What are the problems faced while job search?']

In [8]:
# Rename column names by stripping leading and trailing whitespaces
df.rename(columns=lambda name: name.strip(),inplace=True)

In [9]:
df.columns.to_list()

['Timestamp',
 'Name',
 'Age group',
 'Gender',
 'Email',
 'Where are you from?',
 'Marital status',
 'Work experience',
 'Educational Qualification',
 'Are you still studying?',
 'Do you believe degree is a must for job?',
 'Interested area of work',
 'Currently employed',
 'Did you have a career break?',
 'Did you switch your career?',
 'Reason for shift in career?',
 'Are you actively applying for job?',
 'Skills that you are confident',
 'Job preference',
 'Have you carried out any independent works or projects?',
 'Where do you search for Job?',
 'Are you receiving response from recruiter after applying?',
 'Are you interested in Freelancing?',
 'Dream company type?',
 'Preference of work',
 'What are the problems faced while job search?']

In [10]:
df.isnull().sum()

Timestamp                                                     0
Name                                                          0
Age group                                                     0
Gender                                                        0
Email                                                        18
Where are you from?                                           0
Marital status                                                0
Work experience                                               0
Educational Qualification                                     0
Are you still studying?                                       0
Do you believe degree is a must for job?                      1
Interested area of work                                       0
Currently employed                                            0
Did you have a career break?                                  0
Did you switch your career?                                   0
Reason for shift in career?                                   0
Are you actively applying for job?                            0
Skills that you are confident                                 0
Job preference                                                0
Have you carried out any independent works or projects?       0
Where do you search for Job?                                  0
Are you receiving response from recruiter after applying?     0
Are you interested in Freelancing?                            0
Dream company type?                                           1
Preference of work                                            0
What are the problems faced while job search?                 2
dtype: int64

Columns containing null values -> Email, Do you believe degress is a must for job?, Dream company type?, What are the problems faced while job search?

In [11]:
df.describe()

,Timestamp,Name,Age group,Gender,Email,Where are you from?,Marital status,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?,Interested area of work,Currently employed,Did you have a career break?,Did you switch your career?,Reason for shift in career?,Are you actively applying for job?,Skills that you are confident,Job preference,Have you carried out any independent works or projects?,Where do you search for Job?,Are you receiving response from recruiter after applying?,Are you interested in Freelancing?,Dream company type?,Preference of work,What are the problems faced while job search?
count,95,95,95,95,77,95,95,95,95,95,94,95,95,95,95,95,95,95,95,95,95,95,95,94,95,93
unique,95,95,3,3,77,59,3,7,41,2,3,26,2,2,2,3,3,36,7,2,22,3,3,12,3,12
top,2023/01/11 10:15:18 AM GMT+5:30,Afsal,<25,Female,afsalurkp@gmail.com,Kerala,Single,1-2years,Btech,No,Yes,Data science/ Data Analytics,Yes,No,No,Not applicabe,Casually,Other,Private,No,Linkedin,Yes,Yes,MNC,Hybrid,Lack of experience
freq,1,1,58,50,1,6,78,42,30,58,39,36,56,69,56,49,38,16,31,53,26,45,50,55,45,47

In [12]:
# study column 'email'
df[df['Do you believe degree is a must for job?'].isna()]

,Timestamp,Name,Age group,Gender,Email,Where are you from?,Marital status,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?,Interested area of work,Currently employed,Did you have a career break?,Did you switch your career?,Reason for shift in career?,Are you actively applying for job?,Skills that you are confident,Job preference,Have you carried out any independent works or projects?,Where do you search for Job?,Are you receiving response from recruiter after applying?,Are you interested in Freelancing?,Dream company type?,Preference of work,What are the problems faced while job search?
19,2023/01/11 10:59:22 AM GMT+5:30,Ansila Jasmine P U,<25,Female,NaN,"Kodaly, Thrissur",Married,Fresher,BCA,No,NaN,Data science/ Data Analytics,No,Yes,Yes,Better job opportunity,Casually,Other,Government;Private;Business,No,Linkedin,Maybe,Yes,Startup,Work from home,Lack of experience

In [13]:
df['Do you believe degree is a must for job?'].unique()

array(['No', 'Maybe', 'Yes', nan], dtype=object)

In [14]:
df['Do you believe degree is a must for job?'].value_counts()

Yes      39
Maybe    29
No       26
Name: Do you believe degree is a must for job?, dtype: int64

In [15]:
df[['Work experience','Educational Qualification','Are you still studying?','Do you believe degree is a must for job?']][df['Do you believe degree is a must for job?']=='Yes']

,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?
2,1-2years,Btech,No,Yes
4,Fresher,MSW,Yes,Yes
6,1-2years,BCA,No,Yes
9,Fresher,BSC physics,No,Yes
10,Doing Intership,Bcom,Yes,Yes
12,1-2years,Btech,No,Yes
18,1-2years,Bsc Physics,No,Yes
21,1-2years,Btech,No,Yes
22,1-2years,BCA,Yes,Yes
24,1-2years,Btech,Yes,Yes
29,1-2years,BBA,No,Yes
31,Fresher,BCA,Yes,Yes
38,1-2years,BE,No,Yes
42,Fresher,Bcom,Yes,Yes
45,3+ years,Pharm D,No,Yes
46,Fresher,MTech,Yes,Yes
47,1-2years,MCA,No,Yes
50,3+ years,Bds,Yes,Yes
56,Fresher,Bvoc in software development,Yes,Yes
57,Fresher,B.voc Software development,Yes,Yes
61,Fresher,BVOC IT IN SOFTWARE DEVELOPMENT,Yes,Yes
62,Fresher,Btech,Yes,Yes
64,3+ years,BBA,No,Yes
65,3+ years,BBA,No,Yes
66,1-2years,Msc,No,Yes
67,3+ years,Mtech,No,Yes
69,3+ years,Btech,No,Yes
70,1-2years,Bcom,No,Yes
71,Fresher,Bsc,Yes,Yes
73,1-2years,MCA,No,Yes
74,1-2years,M. tech,No,Yes
78,1-2years,Btech,No,Yes
84,3+ years,MCA,No,Yes
85,Fresher,MA,No,Yes
86,3+ years,Btech,No,Yes
87,1-2years,Btech,No,Yes
88,1-2years,Mtech,No,Yes
90,6.8,Btech,No,Yes
94,1-2years,Btech,No,Yes

In [16]:
df[['Work experience','Educational Qualification','Are you still studying?','Do you believe degree is a must for job?']][df['Do you believe degree is a must for job?']=='No']

,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?
0,Fresher,Btech,Yes,No
7,3+ years,Diploma,No,No
8,1-2years,MCA,Yes,No
15,1-2years,Interior designing,No,No
17,Fresher,Msc.physics,Yes,No
20,Fresher,M.tech,Yes,No
28,Fresher,Diploma in Computer Howard Engineering,No,No
34,1-2years,Btech,No,No
35,1-2years,Btech,No,No
36,1-2years,BE EEE,No,No
37,1-2years,Btech,No,No
40,1-2years,Btech,No,No
41,1-2years,Bcom,No,No
49,Fresher,Btech,No,No
52,Fresher,M tech,Yes,No
63,1-2years,BE,No,No
68,1-2years,Btech,Yes,No
72,10,Btech,No,No
76,Fresher,Diploma,No,No
77,1-2years,Btech,No,No
79,1-2years,ITI,No,No
82,Fresher,Bcom,Yes,No
83,Fresher,BCA,Yes,No
89,1-2years,M Eng,No,No
92,Fresher,M.tech,No,No
93,1-2years,Btech,No,No

In [17]:
df[['Work experience','Educational Qualification','Are you still studying?','Do you believe degree is a must for job?']][(df['Do you believe degree is a must for job?']=='Yes') & (df['Work experience']=='Fresher')]

,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?
4,Fresher,MSW,Yes,Yes
9,Fresher,BSC physics,No,Yes
31,Fresher,BCA,Yes,Yes
42,Fresher,Bcom,Yes,Yes
46,Fresher,MTech,Yes,Yes
56,Fresher,Bvoc in software development,Yes,Yes
57,Fresher,B.voc Software development,Yes,Yes
61,Fresher,BVOC IT IN SOFTWARE DEVELOPMENT,Yes,Yes
62,Fresher,Btech,Yes,Yes
71,Fresher,Bsc,Yes,Yes
85,Fresher,MA,No,Yes

In [18]:
df[['Work experience','Educational Qualification','Are you still studying?','Do you believe degree is a must for job?']][(df['Do you believe degree is a must for job?']=='No') & (df['Work experience']=='Fresher')]

,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?
0,Fresher,Btech,Yes,No
17,Fresher,Msc.physics,Yes,No
20,Fresher,M.tech,Yes,No
28,Fresher,Diploma in Computer Howard Engineering,No,No
49,Fresher,Btech,No,No
52,Fresher,M tech,Yes,No
76,Fresher,Diploma,No,No
82,Fresher,Bcom,Yes,No
83,Fresher,BCA,Yes,No
92,Fresher,M.tech,No,No

In [19]:
df[['Work experience','Educational Qualification','Are you still studying?','Do you believe degree is a must for job?']][(df['Do you believe degree is a must for job?']=='Yes') & (df['Work experience']=='Maybe')]

Empty DataFrame
Columns: [Work experience, Educational Qualification, Are you still studying?, Do you believe degree is a must for job?]
Index: []

### Column 'Do you believe is a must for job'
Looking at the data from other columns pov that might have effect on it, we have 2 options to choose from 'Yes' and 'No'. However, we can't replace NaN with surety, so dropping that row.

In [20]:
df = df[~df['Do you believe degree is a must for job?'].isna()]

In [21]:
df.isnull().sum()

Timestamp                                                     0
Name                                                          0
Age group                                                     0
Gender                                                        0
Email                                                        17
Where are you from?                                           0
Marital status                                                0
Work experience                                               0
Educational Qualification                                     0
Are you still studying?                                       0
Do you believe degree is a must for job?                      0
Interested area of work                                       0
Currently employed                                            0
Did you have a career break?                                  0
Did you switch your career?                                   0
Reason for shift in career?                                   0
Are you actively applying for job?                            0
Skills that you are confident                                 0
Job preference                                                0
Have you carried out any independent works or projects?       0
Where do you search for Job?                                  0
Are you receiving response from recruiter after applying?     0
Are you interested in Freelancing?                            0
Dream company type?                                           1
Preference of work                                            0
What are the problems faced while job search?                 2
dtype: int64

In [22]:
df[~df['Email'].isna()]

,Timestamp,Name,Age group,Gender,Email,Where are you from?,Marital status,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?,Interested area of work,Currently employed,Did you have a career break?,Did you switch your career?,Reason for shift in career?,Are you actively applying for job?,Skills that you are confident,Job preference,Have you carried out any independent works or projects?,Where do you search for Job?,Are you receiving response from recruiter after applying?,Are you interested in Freelancing?,Dream company type?,Preference of work,What are the problems faced while job search?
0,2023/01/11 10:15:18 AM GMT+5:30,Afsal,25-30,Other,afsalurkp@gmail.com,Tirur,Other,Fresher,Btech,Yes,No,Digital Marketing,Yes,Yes,Yes,Not applicabe,Yes,Excel;,Business,Yes,Naukri;Linkedin;Indeed;Monster;,Yes,Yes,Startup,Hybrid,Lack of experience
2,2023/01/11 10:18:20 AM GMT+5:30,Vishal T S,<25,Male,tsvishal0@gmail.com,"Siddapur, Kodagu, Karnataka",Single,1-2years,Btech,No,Yes,Data science/ Data Analytics,Yes,No,Yes,Better job opportunity,Casually,Excel;Python;Sql;Other,Private,No,Linkedin;,No,No,Product based,Work from home,No response from recruiter
3,2023/01/11 10:19:19 AM GMT+5:30,mohammad aslam,<25,Male,aslamvelupadam03@gmail.com,Thrissur,Single,1-2years,diploma,No,Maybe,Front end development,Yes,No,No,Not applicabe,No,front-end development,Private,No,Naukri;Linkedin;Indeed,Yes,Yes,MNC,Onsite,Lack of experience
4,2023/01/11 10:26:10 AM GMT+5:30,Ammu,<25,Female,Ammu@gmail.com,Malappuram,Single,Fresher,MSW,Yes,Yes,Digital Marketing,Yes,No,Yes,Better job opportunity,Casually,Excel,Government;Business,No,Indeed,Yes,Yes,MNC,Onsite,Lack of experience
5,2023/01/11 10:30:46 AM GMT+5:30,Swathi C,<25,Female,swathic749@gmail.com,Kannur,Single,1-2years,BCA,No,Maybe,Python,Yes,No,No,Not applicabe,No,Excel;Python;Sql,Private,No,Linkedin,No,Maybe,MNC,Hybrid,No response from recruiter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2023/01/16 11:04:21 PM GMT+5:30,Julie Jose,25-30,Female,juliejose95@gmail.com,Thrissur,Married,1-2years,Mtech,No,Yes,QA- testing,Yes,No,No,Not applicabe,No,Other,Government,No,Linkedin,Yes,No,MNC,Work from home,Lack of experience
89,2023/01/16 11:17:45 PM GMT+5:30,Ibin Menon,25-30,Male,ibinmenon57@gmail.com,India,Single,1-2years,M Eng,No,No,Front end development,Yes,Yes,Yes,Other,Casually,"Excel;Python;CAD/CAM, MATLAB",Business,Yes,Linkedin;Indeed,Maybe,Yes,MNC,Hybrid,Lack of experience;No response from recruiter
90,2023/01/17 12:34:08 AM GMT+5:30,Anju,25-30,Female,Anjumprasad18@gmail.com,Kerala,Married,6.8,Btech,No,Yes,Software quality assurance,Yes,No,No,Not applicabe,Casually,"Python;Sql;Selenium with Java/Python, cypress ...",Government;Private;Business,No,Naukri;Linkedin;Indeed;Monster;Hirist,Yes,Yes,Startup,Hybrid,NaN
91,2023/01/17 12:34:15 AM GMT+5:30,Pranoy Arun,25-30,Male,pranoy97@gmail.com,Kerala,Single,1-2years,MSc,No,Maybe,Mechanical Engineering,Yes,No,No,Not applicabe,No,Excel;Python,Private,Yes,Linkedin;Indeed,Yes,No,MNC,Hybrid,Lack of experience;No response from recruiter
93,2023/01/17 12:16:30 PM GMT+5:30,Priyanka biradar,25-30,Female,Priyabiradar999@gmail.com,Karnataka,Single,1-2years,Btech,No,No,Data science/ Data Analytics,Yes,Yes,Yes,Better job opportunity,No,Excel;Python;Sql,Business,No,Linkedin;Indeed,Yes,No,Startup,Work from home,No response from recruiter

### Column -> 'Email'

Since email is unique to every unique name/user, so nothing can be done here to clean/replace it.

In [23]:
df[df['Dream company type?'].isna()]

,Timestamp,Name,Age group,Gender,Email,Where are you from?,Marital status,Work experience,Educational Qualification,Are you still studying?,Do you believe degree is a must for job?,Interested area of work,Currently employed,Did you have a career break?,Did you switch your career?,Reason for shift in career?,Are you actively applying for job?,Skills that you are confident,Job preference,Have you carried out any independent works or projects?,Where do you search for Job?,Are you receiving response from recruiter after applying?,Are you interested in Freelancing?,Dream company type?,Preference of work,What are the problems faced while job search?
46,2023/01/11 2:08:52 PM GMT+5:30,Sophia,25-30,Female,NaN,Karnataka,Single,Fresher,MTech,Yes,Yes,Biotechnology,No,No,No,Not applicabe,No,Other,Government;Private,Yes,Naukri;Linkedin;Placements,Maybe,Yes,NaN,Hybrid,No response from recruiter

In [24]:
df['Dream company type?'].value_counts()

MNC                        55
Startup                    27
Both                        2
Product based               1
Interior design             1
multinational companies     1
Amazon,Google,Apple         1
Apple                       1
Multinationals              1
All types                   1
Both                        1
Google                      1
Name: Dream company type?, dtype: int64

Multinational companies, Amazon, Google, Apple, Apple, Mulitnational and Google all can be placed under MNC

And Both and Both can be grouped on Both

In [25]:
df['Dream company type?'].replace(['multinational companies','Amazon,Google,Apple','Apple','Multinationals ','Google'],'MNC',inplace=True)

In [26]:
df['Dream company type?'].value_counts()

MNC                 60
Startup             27
Both                 2
Product based        1
Interior design      1
All types            1
Both                 1
Name: Dream company type?, dtype: int64

In [27]:
df['Dream company type?'].replace(['Both '],'Both',inplace=True)
df['Dream company type?'].value_counts()

MNC                 60
Startup             27
Both                 3
Product based        1
Interior design      1
All types            1
Name: Dream company type?, dtype: int64

MNC and Startup are most common values for column 'Dream company type', so investigating it and try to decide on the NaN for 'Dream company type' based on columns: 'Are you interested in Freelancing' and 'Preference of Work'

In [28]:
df[['Are you interested in Freelancing?','Preference of work','Dream company type?']][df['Dream company type?']=='MNC']

   Are you interested in Freelancing? Preference of work Dream company type?
3                                 Yes             Onsite                 MNC
4                                 Yes             Onsite                 MNC
5                               Maybe             Hybrid                 MNC
7                                 Yes     Work from home                 MNC
8                                 Yes             Onsite                 MNC
9                                  No     Work from home                 MNC
10                              Maybe             Hybrid                 MNC
12                                 No     Work from home                 MNC
13                                 No             Onsite                 MNC
17                              Maybe             Onsite                 MNC
18                                Yes     Work from home                 MNC
20                              Maybe             Hybrid                 MNC
22                                 No             Onsite                 MNC
24                                Yes             Hybrid                 MNC
25                                Yes             Hybrid                 MNC
28                                 No             Onsite                 MNC
29                                 No             Hybrid                 MNC
30                                 No             Hybrid                 MNC
31                                Yes             Hybrid                 MNC
34                                 No             Hybrid                 MNC
35                                 No             Hybrid                 MNC
36                              Maybe             Hybrid                 MNC
42                                 No             Hybrid                 MNC
44                              Maybe     Work from home                 MNC
45                                 No     Work from home                 MNC
47                                 No             Onsite                 MNC
48                                Yes             Onsite                 MNC
49                                Yes             Hybrid                 MNC
51                              Maybe             Hybrid                 MNC
53                              Maybe             Onsite                 MNC
54                                Yes             Onsite                 MNC
55                              Maybe             Onsite                 MNC
56                                Yes             Onsite                 MNC
57                                Yes             Onsite                 MNC
58                                Yes             Hybrid                 MNC
59                                Yes             Hybrid                 MNC
60                                 No             Onsite                 MNC
62                              Maybe             Onsite                 MNC
63                              Maybe     Work from home                 MNC
64                                 No     Work from home                 MNC
65                                 No     Work from home                 MNC
66                                Yes             Hybrid                 MNC
67                                Yes             Onsite                 MNC
69                                 No             Hybrid                 MNC
72                                Yes             Hybrid                 MNC
73                                 No     Work from home                 MNC
74                                 No             Hybrid                 MNC
76                                Yes             Hybrid                 MNC
78                                Yes             Hybrid                 MNC
81                                 No             Hybrid                 MNC
83                              Maybe             Hybrid                 MNC
84                                Yes             Hybrid                 MNC
85                                Yes     Work from home                 MNC
86                                 No             Hybrid                 MNC
87                                Yes     Work from home                 MNC
88                                 No     Work from home                 MNC
89                                Yes             Hybrid                 MNC
91                                 No             Hybrid                 MNC
92                                Yes     Work from home                 MNC
94                                Yes             Hybrid                 MNC

In [29]:
df[['Are you interested in Freelancing?','Preference of work','Dream company type?']][df['Dream company type?']=='Startup']

   Are you interested in Freelancing? Preference of work Dream company type?
0                                 Yes             Hybrid             Startup
1                                 Yes             Onsite             Startup
6                               Maybe             Hybrid             Startup
14                                Yes     Work from home             Startup
16                                Yes             Hybrid             Startup
21                                 No             Onsite             Startup
23                                Yes             Hybrid             Startup
26                                Yes             Hybrid             Startup
27                                Yes             Hybrid             Startup
33                                Yes             Hybrid             Startup
37                                Yes     Work from home             Startup
38                                Yes     Work from home             Startup
39                                 No             Onsite             Startup
40                                Yes             Hybrid             Startup
41                                 No     Work from home             Startup
43                                 No     Work from home             Startup
50                                Yes     Work from home             Startup
52                                 No     Work from home             Startup
68                                Yes             Hybrid             Startup
70                                 No     Work from home             Startup
71                                Yes             Onsite             Startup
77                                Yes     Work from home             Startup
79                                Yes             Hybrid             Startup
80                                Yes             Hybrid             Startup
82                              Maybe             Hybrid             Startup
90                                Yes             Hybrid             Startup
93                                 No     Work from home             Startup

In [30]:
df_grp = df[['Dream company type?','Are you interested in Freelancing?']].groupby(['Dream company type?','Are you interested in Freelancing?'])

In [31]:
df_grp.size()

Dream company type?  Are you interested in Freelancing?
All types            Yes                                    1
Both                 Maybe                                  1
                     Yes                                    2
Interior design      Yes                                    1
MNC                  Maybe                                 12
                     No                                    22
                     Yes                                   26
Product based        No                                     1
Startup              Maybe                                  2
                     No                                     7
                     Yes                                   18
dtype: int64

In [32]:
df_grp1 = df[['Dream company type?','Preference of work']].groupby(['Dream company type?','Preference of work'])
df_grp1.size()

Dream company type?  Preference of work
All types            Onsite                 1
Both                 Hybrid                 2
                     Work from home         1
Interior design      Work from home         1
MNC                  Hybrid                29
                     Onsite                17
                     Work from home        14
Product based        Work from home         1
Startup              Hybrid                13
                     Onsite                 4
                     Work from home        10
dtype: int64

#### Column = 'Dream company type'
Since we have small dataset and other effecting columns cannot give a skewness in the decision for this field, dropping a single row might be a better option

In [33]:
df = df[~df['Dream company type?'].isna()]

In [34]:
df.isnull().sum()

Timestamp                                                     0
Name                                                          0
Age group                                                     0
Gender                                                        0
Email                                                        16
Where are you from?                                           0
Marital status                                                0
Work experience                                               0
Educational Qualification                                     0
Are you still studying?                                       0
Do you believe degree is a must for job?                      0
Interested area of work                                       0
Currently employed                                            0
Did you have a career break?                                  0
Did you switch your career?                                   0
Reason for shift in career?                                   0
Are you actively applying for job?                            0
Skills that you are confident                                 0
Job preference                                                0
Have you carried out any independent works or projects?       0
Where do you search for Job?                                  0
Are you receiving response from recruiter after applying?     0
Are you interested in Freelancing?                            0
Dream company type?                                           0
Preference of work                                            0
What are the problems faced while job search?                 2
dtype: int64

In [35]:
df['What are the problems faced while job search?'].nunique()

12

In [36]:
df['What are the problems faced while job search?'].value_counts()

Lack of experience                                                  46
No response from recruiter                                          28
Lack of experience;No response from recruiter                        8
Fear of English, network slow at home, interviewer not handsome      1
Not getting what I am looking for                                    1
Low salary scale                                                     1
Still not looking for jobs actively                                  1
Nothing                                                              1
No problems                                                          1
No problems                                                          1
I haven't applied for any.                                           1
Good oppurtunities                                                   1
Name: What are the problems faced while job search?, dtype: int64

In [37]:
#Transforming No problems columns into one
df['What are the problems faced while job search?'].replace(['No problems '],'No problems',inplace=True)

In [38]:
df['What are the problems faced while job search?'].value_counts()

Lack of experience                                                  46
No response from recruiter                                          28
Lack of experience;No response from recruiter                        8
No problems                                                          2
Fear of English, network slow at home, interviewer not handsome      1
Not getting what I am looking for                                    1
Low salary scale                                                     1
Still not looking for jobs actively                                  1
Nothing                                                              1
I haven't applied for any.                                           1
Good oppurtunities                                                   1
Name: What are the problems faced while job search?, dtype: int64

Dropping null valued rows for column = 'What are the probelms faced while job search'

In [39]:
df = df[~df['What are the problems faced while job search?'].isna()]

In [40]:
df.isnull().sum()

Timestamp                                                     0
Name                                                          0
Age group                                                     0
Gender                                                        0
Email                                                        15
Where are you from?                                           0
Marital status                                                0
Work experience                                               0
Educational Qualification                                     0
Are you still studying?                                       0
Do you believe degree is a must for job?                      0
Interested area of work                                       0
Currently employed                                            0
Did you have a career break?                                  0
Did you switch your career?                                   0
Reason for shift in career?                                   0
Are you actively applying for job?                            0
Skills that you are confident                                 0
Job preference                                                0
Have you carried out any independent works or projects?       0
Where do you search for Job?                                  0
Are you receiving response from recruiter after applying?     0
Are you interested in Freelancing?                            0
Dream company type?                                           0
Preference of work                                            0
What are the problems faced while job search?                 0
dtype: int64

#### Researching all categorical columns and transform if needed

In [41]:
df['Age group'].value_counts()

<25      56
25-30    28
31-40     7
Name: Age group, dtype: int64

In [42]:
df['Gender'].value_counts()

Female    46
Male      44
Other      1
Name: Gender, dtype: int64

In [43]:
df['Marital status'].value_counts()

Single     76
Married    14
Other       1
Name: Marital status, dtype: int64

In [44]:
df['Work experience'].value_counts()

1-2years           41
Fresher            36
3+ years           11
Doing Intership     1
10                  1
8                   1
Name: Work experience, dtype: int64

In [45]:
# Convert 10 and 8 as 8+ years
df['Work experience'].replace(['10','8'],'8+',inplace=True)

In [46]:
df['Work experience'].value_counts()

1-2years           41
Fresher            36
3+ years           11
8+                  2
Doing Intership     1
Name: Work experience, dtype: int64

In [47]:
df['Are you still studying?'].value_counts()

No     55
Yes    36
Name: Are you still studying?, dtype: int64

In [48]:
df['Currently employed'].value_counts()

Yes    54
No     37
Name: Currently employed, dtype: int64

In [49]:
df['Where do you search for Job?'].value_counts()

Linkedin                                       24
Naukri;Linkedin                                17
Linkedin;Indeed                                14
Naukri;Linkedin;Indeed                          8
Indeed                                          4
Naukri                                          3
Linkedin;                                       3
Naukri;Linkedin;Indeed;Monster;Hirist           2
Naukri;Linkedin;Monster                         2
Monster                                         2
Naukri;Linkedin;Indeed;Monster                  2
Naukri;Linkedin;Indeed;Google                   1
Naukri;Linkedin;Fiverr                          1
Nothing                                         1
Naukri;Linkedin;Indeed;Monster;                 1
Naukri;Linkedin;Indeed;Instagram, Facebook      1
Naukri;Linkedin;                                1
Other                                           1
Linkedin;Indeed;Monster                         1
Naukri;Linkedin;Indeed;                         1
Other                                           1
Name: Where do you search for Job?, dtype: int64

In [50]:
# Convert Other and Other values into one
df['Where do you search for Job?'].replace(['Other','Other '],'Other',inplace=True)

In [51]:
df['Where do you search for Job?'].value_counts()

Linkedin                                       24
Naukri;Linkedin                                17
Linkedin;Indeed                                14
Naukri;Linkedin;Indeed                          8
Indeed                                          4
Naukri                                          3
Linkedin;                                       3
Naukri;Linkedin;Indeed;Monster;Hirist           2
Naukri;Linkedin;Monster                         2
Monster                                         2
Naukri;Linkedin;Indeed;Monster                  2
Other                                           2
Naukri;Linkedin;Fiverr                          1
Nothing                                         1
Naukri;Linkedin;Indeed;Monster;                 1
Naukri;Linkedin;Indeed;Instagram, Facebook      1
Naukri;Linkedin;                                1
Linkedin;Indeed;Monster                         1
Naukri;Linkedin;Indeed;                         1
Naukri;Linkedin;Indeed;Google                   1
Name: Where do you search for Job?, dtype: int64

In [52]:
# set directory to store dataframe as pickle data
pickle_data_path = os.path.join(current_dir,'transformed.pkl')

In [53]:
# Store dataframe to serialized form pickle (fast read than csv)
df.to_pickle(pickle_data_path)